#landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
}

#landing h1 {
    font-size: 5vw;
}

#landing h2 {
    font-size: 4vw;
}

#demo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    text-align: center;
    padding: 5%;
    margin: 20px auto 20px auto;
}
#demo h1 {
    color: #fff;
    margin-bottom: 10px;
}

#demo img {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

@media only screen and (min-width: 750px) {
    #demo {
        flex-direction: row;
    }
    #demo h1 {
        max-width: 30%;
        color: #fff;
        font-size: 5vw;
    }
    
    #demo img {
        max-width: 60%;
    }
}