#landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #000;
}

#landing h1 {
    padding: 20px;
    font-size: 4vw;
    border-radius: 10px;
}

#samepage {
    border: 3px solid black;
    width: 50%;
    margin: 10px auto;
}
#example {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    text-align: center;
    padding: 5%;
    margin: 20px auto 20px auto;
}
#example h1 {
    color: #000;
    margin-bottom: 10px;
}

#ex-text {
    margin-bottom: 20px;
}

#example img {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    box-shadow: 0 3px 20px 0 #383a383b;
}

#links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
}

#links a {
    text-decoration-line: none;
    color: #000;
}

#signup-btn:hover, #login-btn:hover {
    box-shadow: 0 3px 20px 0 #f3f3a1;
}

#links #signup-btn, #login-btn {
    border: 2px solid #000;
    padding: 20px;
    border-radius: 10px;
    margin: 10px 20px;
}

@media only screen and (min-width: 450px) {
    #links {
        flex-direction: row;
    }
}

@media only screen and (min-width: 750px) {
    #example {
        flex-direction: row;
        justify-content: space-evenly;
    }
    #ex-text {
        max-width: 30%;
        line-height: 80px;
    }
    
    #ex-img {
        max-width: 60%;
    }

    #landing h1 {
        font-size: 5vw;
    }
}