.App, body {
  background-color: #fff;
}

input {
  margin: 20px auto;
  border-radius: 5px;
}

.logout {
  text-align: right;
  padding: 10px;
}

button {
  border: none;
  outline: none;
  padding: 10px 10px;
  border-radius: 50px;
  color: #333;
  background: #fff;
  margin-bottom: 20px;
  box-shadow: 0 3px 20px 0 #0000003b;
}
button:hover{
  cursor: pointer;
  box-shadow: 0 3px 20px 0 #f3f3a1;
}

@media only screen and (min-width: 750px) {
  button {
    padding: 10px 20px;
    border-radius: 50px;
    background: #fff;
  }
}